*.txt
*.dm
*.test
*.train
*.npy
*.model
*.sentence
*.gram
*.phrases
*.clean
*.data
*.pyc
*.pos
*.neg
*.swp
cnn-sentence/runs/*
cnn-sentence/cnn-text-classification-tf/*
cnn-sentence/mid_data/*
cnn-sentence/mid_data_noisy/*
word2vec/models/*
